# Gradle / Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex

# Android Studio
/app/build/
/app/release/
/app/debug/

# Kotlin
.kotlin/

# Logs
*.log
